1. Графическое приложение
2. Прямоугольное поле определённого размера с клетками
3. В начале игры каждому игроку выдаётся определённое количество случайных матем операторов (из Python), согласованного набор скобок и цифр, среди них всегда есть знак равенства
4. Игроки по очереди выставляют на поле по одному символу из своего набора
5. Прежде чем начинается ход другого игрока, скрываютс наборы обоих игроков и запрашивается подтверждение. После подтверждение отображается набор следующего игрока.
6. Выигрывает тот, у кого после составления верных выражений осталось меньше символов
7. Чтобы закончить игру, игрок должен нажать кнопку
8. Верность выражений считается автоматически